*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

html, body{
    color: #555;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.clearfix {zoom: 1}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}


/*-------------------*/
/*---- Multi-use ----*/
/*-------------------*/

section{
    padding: 80px 0;
}

h1, h2, h3{
    font-weight: 300;
    text-transform: uppercase;
}

.row{
    max-width: 1140;
    margin: 0 auto;
}

h1{
    margin-top: 0;
    color: #ffffff;
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2{
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 30px;
}

h2:after{
    display: block;
    height: 2px;
    width: 100px;
    background-color: #e67e22;
    content: " ";
    margin: auto;
    margin-top: 30px;
}

.col:first-child{
    margin-left: 0;
}

.col{
    display: block;
    float: left;
    margin: 1% 0 1% 1.6%;
}


/*----------------*/
/*---- Header ----*/
/*----------------*/

header{
    background-image: linear-gradient(#000000b3, #000000b3), url('Images/Omnifood\ Contents/hero.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

.nav-bar #nav-row{
    width: 1140px;
    position: absolute;
    top: 7%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    display: flex;
    justify-content: space-between;
}

.hero-text-box{
    width: 1140px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
}

/*---- Header Menu ----*/

.main-img{
    display: flex;
    margin: 8px 0;
}

.main-nav{
    float: right;
    list-style: none;
    margin-top: 45px;
    font-weight: 300;
}

.main-nav li{
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link, 
.main-nav li a:visited{
    padding: 8px 0;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;                     /*makes a smoother transition*/
}

.main-nav li a:hover, 
.main-nav li a:active{
    border-bottom: 2px solid #cf6d17;
}

/*---- Header buttons ----*/

.btn{
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    color: #ffffff;
}

.btn:hover, btn:active{
    background-color: #cf6d17;
}

.btn-full{
    background-color: #e67e22;
    border: 1px solid #e67e22;
    margin-right: 15px;
}

.btn-ghost{
    border: 1px solid;
    color: #e67e22;
    transition: color 0.2s;
}

.btn-full:hover, .btn-full:active{
    border: 1px solid #cf6d17;
}

.btn-ghost:hover, .btn-ghost:active{
    border: 1px solid #cf6d17;
    color: #ffffff;
}


/*-------------------------*/
/*---- Features Section----*/
/*-------------------------*/

.section-features .long-copy{
    margin-bottom: 30px;
}

.long-copy{
    line-height: 145%;
    width: 42%;
    margin: auto;
    font-weight: 300;
}

.boxes{
    width: 1140px;
    margin: auto;
}

.span-1-of-4{
    width: 23.8%;
}

.box{
    padding: 1%;
}

.box p{
    font-size: 90%;
    line-height: 145%;
    font-weight: 300;
    padding-bottom: 80px;
}

h3{
    font-size: 110%;
    margin-bottom: 15px;
}

.icon-big{
    font-size: 350%;
    display: 145%;
    color: #e67e22;
    margin-bottom: 10px;
    --ionicon-stroke-width: 20px;                       /*controls line thickness of the icons*/
}


/*------------------------*/
/*---- Favorite Meals ----*/
/*------------------------*/

.favorite-meals{
    padding: 0; 
}

.meals{
    overflow: hidden;
    list-style: none;
    width: 100%;
    display: flex;
}

.meals li{
    width: 25%;
}

.meal-photo{
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000;
}

.meal-photo img{
    opacity: 0.7;
    width: 100%;
    height: auto;
    transform: scale(1.15);
    transition: transform 0.5s; opacity: 0.5s;
}

.meal-photo img:hover{
    opacity: 1;
    transform: scale(1.03);
}


/*------------------------------*/
/*---- How It Works Section ----*/
/*------------------------------*/

.section-steps{
    background-color: #f4f4f4;
    overflow: hidden;
}

.rows{
    max-width: 1140;
    margin: 0 auto;
    padding: 0 2%;
}

.size h2{
    letter-spacing: 1px;
}

.span-1-of-2{
    width: 49.2%;
}

.steps-box:first-child{
    text-align: right;
    padding-right: 1.6%;
    margin-top: 30px;
}

.steps-box:last-child{
    padding-left: 1.6%;
    margin-top: 70px;
}

.app-screen{
    width: 24%;
}

.works-step{
    margin-bottom: 50px;
    width: 520px;
}

.works-step:last-of-type{
    margin-bottom: 80px;
}

.works-step div{
    color: #e67e22;
    border: 2px solid #e67e22;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    text-align: center;
    padding: 5px;
    float: left;
    font-size: 150%;
    margin-right: 25px;
}

.btn-app:link,
.btn-app:visited{
    border: 0;
}

.btn-app img{
    height: 50px;
    width: auto;
    margin-right: 10px;
}


/*------------------------*/
/*---- Cities Section ----*/
/*------------------------*/

.box img{
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.city-feature{
    margin-bottom: 5px;
}

.city-feature a:link, 
.city-feature a:visited, 
.city-feature a:hover {
    color: #e67e22;
}

#row-fix{
    width: 1140px;
}

.icon-small{
    display: inline-block;
    width: 30px;
    text-align: center;
    color: #e67e22;
    font-size: 120%;
    margin-right: 10px;
    line-height: 120%;
    vertical-align: middle;
    margin-top: -4px;
}

